# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book
/source/repos/comp367(zobaer)-Lab1/obj
/source/repos/comp367(zobaer)-Lab1/Properties
/source/repos/comp367(zobaer)-Lab1/appsettings.json
# eBook build output
*.epub
*.mobi
*.pdf
